.tutorial {
    width: 600px;
    text-align: center;
    margin: auto;
}

figure.image {
    display: flex;
    justify-content: center;
    background-color: black;
}

.hero.is-primary.is-bold {
    background-image: linear-gradient(
        141deg,
        #2d132c 0%,
        #801336 71%,
        #a32233 100%
    );
}

.content {
    color: white;
}

.content h1 {
    color: white;
}

.content h4 {
    color: rgb(224, 224, 224);
}

#tutorial {
    background-color: #801336;
}

html {
    height: 100vh;
    background-color: #c72c41;
}

article.notification.is-primary {
    background-color: #8cba51;
}

label {
    color: white;
}

h1.title {
    text-align: center;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 0.2rem;
}

figure .image img {
    width: 128px;
}

.notification {
    margin-top: 20px !important;
}

.title .icon {
    margin-left: 15px;
}

.hero {
    margin-bottom: 20px;
}

.forms {
    display: flex;
    justify-content: space-around;
}

.dropdown-item {
    display: flex;
    align-items: center;
    height: 60px;
}

.tutorial p {
    margin-bottom: 1rem;
}

p.title {
    font-family: "Bitter", serif;
}

.content h1 {
    font-family: "Bitter", serif;
}

.tutorial h1 {
    margin-top: 1rem;
}

.dropdown-item img {
    height: 50px;
    margin-right: 10px;
}
